:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1
}

a {
  text-decoration: none;
}

body {
  background: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
}

.container {
  width: 348px;
  margin: 40px;
}


.name {
  background: var(--bg-cards);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
  padding-top: 20px;
  border-radius: 5%;

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.name img {
  border-radius: 50%;
  width: 228px;
  height: 200px;
  padding: 3.7px;
  border: #29c242 solid 4px;
  object-fit: contain;
}

.info {
  background: var(--bg-cards);
  display: flex;
  flex-direction: column;

  padding: 10px;
  border-radius: 5%;

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));

}

.info a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 15px;
}

.techs {
  background: var(--bg-cards);
  
  padding: 15px;
  border-radius: 5%;
  margin-top: 30px;

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.techs ul {
  display: inline-block;
  padding-left: 20px;
}

.techs ul li {
  display: flex;
  justify-content: center;

  width: 95px;
  padding: 5px;

  color: black;
  background: var(--bg-techs);
  border-radius: 16px;
}

.education {
  background: var(--bg-cards);

  padding: 15px;
  border-radius: 5%;
  margin-top: 30px;

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}


/*========== MIDDLE ============*/

.container-2 {
  position: absolute;
  right: 0;
  top: 0;

  width: 70%;
  margin-top: 40px;
  margin-right: 100px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px;
  border-radius: 30px;

  background: var(--bg-cards);
  

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 70px;
  padding: 25px;
  border-radius: 30px;


  background: var(--bg-cards);
  

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 70px;
  padding: 25px;
  border-radius: 30px;


  background: var(--bg-cards);
  

  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}