* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf7fd;
  font-family: 'Popins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.image img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #bb99dd;
  margin-top: 50px;
}

.image a {
  color: #bb99dd;
  display: flex;
  justify-content: center;
  padding: 20px;

  text-decoration: none;
}

.middle-button {
  display: flex;
  flex-direction: column;
}

.middle-button a {
  color: #bb99dd;
  font-weight: 300;
  margin-top: 10px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #bb99dd;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
   
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;

}



